Source: astroberry-manager
Section: science
Priority: extra
Maintainer: Astroberry <contact@astroberry.io>
Build-Depends: debhelper (>= 9), python3, dh-python, python3-setuptools, pybuild-plugin-pyproject
Standards-Version: 3.9.1
Homepage: http://www.astroberry.io/

Package: astroberry-manager
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python-is-python3,
 python3-pampy, python3-gevent, python3-flask, python3-flask-socketio, python3-ephem, python3-psutil,
 python3-gpsdclient, python3-yr-weather, python3-websockify, python3-indi-client, python3-indiweb
Description: Astroberry Manager - Integrated web interface for Astroberry OS.
