#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

#%:
#	dh $@ --with python-virtualenv

#override_dh_virtualenv:
#	dh_virtualenv --python /usr/bin/python3.7 --setuptools

#override_dh_shlibdeps:
#    dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

DEB_DH_SHLIBDEPS_ARGS=-u--ignore-missing-info
