name: Build Astroberry Manager

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        container: ["debian-trixie"]

    steps:

      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt install -y \
          python3 python-is-python3 python3-pip python3-venv

      - name: Get the sources of Astroberry Manager
        uses: actions/checkout@v6
        with:
          repository: 'astroberry-official/astroberry-manager'
          path: 'astroberry-manager'

      - name: Build Astroberry Manager
        run: |
          rm -rf build/whl_astroberry-manager && mkdir -p build/whl_astroberry-manager && \
          cp -r astroberry-manager/* build/whl_astroberry-manager/ && \
          python -m venv build/whl_astroberry-manager/.venv && . build/whl_astroberry-manager/.venv/bin/activate && \
          python -m pip install build && \
          cd build/whl_astroberry-manager && python -m build && cd ../../ && deactivate && \
          ls build/whl_astroberry-manager/dist/*.whl

      - uses: actions/upload-artifact@v6
        with:
          name: build-${{ matrix.container }}-${{ github.sha }}
          path: build/whl_astroberry-manager/dist/*.whl

